<div class="flex flex-col justify-center align-middle items-start gap-4 mx-48">
    <h1 class="text-black text-2xl font-bold">
        Restaurants with online food delivery in Chennai
    </h1>

    <div class="flex flex-row justify-center align-middle items-center gap-x-2 bg-white">
        <div class="border-gray-300 px-2 py-1 rounded-3xl flex flex-row items-center align-middle justify-center cursor-pointer" style="border-width: 1px;">
            <p class="mr-2 font-semibold text-gray-700 text-sm">Filter</p>
            <i class="fa-solid fa-sliders text-gray-700 text-sm"></i>
        </div>

        <div class="border-gray-300 px-2 py-1 rounded-3xl flex flex-row items-center align-middle justify-center cursor-pointer" style="border-width: 1px;">
            <p class="mr-2 font-semibold text-gray-700 text-sm">Sort By</p>
            <i class="fa-solid fa-chevron-down text-gray-700 text-sm"></i>
        </div>

        <div class="border-gray-300 px-2 py-1 rounded-3xl flex flex-row items-center align-middle justify-center cursor-pointer" style="border-width: 1px;">
            <p class="mr-2 font-semibold text-gray-700 text-sm">Fast Delivery</p>
        </div>

        <div class="border-gray-300 px-2 py-1 rounded-3xl flex flex-row items-center align-middle justify-center cursor-pointer" style="border-width: 1px;">
            <p class="mr-2 font-semibold text-gray-700 text-sm">New on Swiggy</p>
        </div>

        <div class="border-gray-300 px-2 py-1 rounded-3xl flex flex-row items-center align-middle justify-center cursor-pointer" style="border-width: 1px;">
            <p class="mr-2 font-semibold text-gray-700 text-sm">Ratings 4.0+</p>
        </div>

        <div class="border-gray-300 px-2 py-1 rounded-3xl flex flex-row items-center align-middle justify-center cursor-pointer" style="border-width: 1px;">
            <p class="mr-2 font-semibold text-gray-700 text-sm">Pure Veg</p>
        </div>

        <div class="border-gray-300 px-2 py-1 rounded-3xl flex flex-row items-center align-middle justify-center cursor-pointer" style="border-width: 1px;">
            <p class="mr-2 font-semibold text-gray-700 text-sm">Offers</p>
        </div>

        <div class="border-gray-300 px-2 py-1 rounded-3xl flex flex-row items-center align-middle justify-center cursor-pointer" style="border-width: 1px;">
            <p class="mr-2 font-semibold text-gray-700 text-sm">Rs. 300-Rs. 600</p>
        </div>


        <div class="border-gray-300 px-2 py-1 rounded-3xl flex flex-row items-center align-middle justify-center cursor-pointer" style="border-width: 1px;">
            <p class="mr-2 font-semibold text-gray-700 text-sm">Less than Rs. 300</p>
        </div>


        <div class="hidden w-80 bg-gray-200  flex-row justify-between px-5 py-3 rounded-xl">
            <input type="text" placeholder="Search for restaurant and food" class="w-80 bg-gray-200 text-lg text-gray-500 " ><i class="fa-solid fa-magnifying-glass text-gray-500 text-lg"></i>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 justify-items-center">
        <app-restaurant-card
          *ngFor="let restaurant of restaurants"
          [imageUrl]="restaurant.imageUrl"
          [offer]="restaurant.offer"
          [restaurantName]="restaurant.restaurantName"
          [rating]="restaurant.rating"
          [deliveryTime]="restaurant.deliveryTime"
          [food]="restaurant.food"
          [location]="restaurant.location">
        </app-restaurant-card>
      </div>
      
      
</div>
